section.marketplace {
    background-color: var(--main-bg-color);
    flex: 1 0;
}

section.marketplace > div {
    display: flex;
    margin-top: 20px;
    align-items: flex-start;
}

section.offers {
    flex: 1 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

section.offers > div {
    flex: 0 0;
    flex-basis: 198px;
    display: flex;
    flex-direction: column;
    height: 324px;
    box-shadow: 
        0 1.6px 3.6px 0 rgba(0,0,0,.132),
        0 0.3px 0.9px 0 rgba(0,0,0,.108);

    border-radius: 0.1rem;
}

section.offers > div.template {
    display: none;
}

section.offers > div div {
    padding: 0 .5rem;
}

section.offers div.icon {
    flex: 0 0 50px;
    background-color: rebeccapurple;
    background: rgb(219 234 254);
    background: linear-gradient(90deg, 
        rgba(219 234 254 0.6) 0%,
        rgba(219 234 254 .8) 50%,
        rgba(219 234 254 1) 100%);
    background-image: url(images/fc_logo.png);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: 5px;
}

section.offers div.name {
    flex: 0 0;
    font-weight: 500;
    margin-top: .5rem;
}

section.offers div.publisher {
    flex: 1 0;
    font-size: .7rem;
}

section.offers div.starts-from {
    flex: 0 0;
    font-style: italic;
    font-size: .7rem;
}

section.offers div.price {
    flex: 0 0;
    font-size: .9rem;
}

section.offers div.get-it-now {
    flex: 0 0;
    padding: 0;
}

section.offers div.get-it-now a {
    line-height: 2.5rem;
    text-align: center;
    display: block;
    font-size: .8rem;
    text-decoration: none;
    border-top: 1px solid rgb(17 24 39 / 0.05);
}

section.offers div.get-it-now a:hover {
    background-color: var(--button-primary-bg-color);
    color: var(--button-primary-text-color);
}

section.purchase {
    flex: 0 0;
    flex-basis: 400px;
    background-color: var(--info-bg-color);
}

section.purchase > div {
    margin: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

section.purchase > div.hidden {
    display: none;
}

section.purchase div.header {
    font-size: 1.3rem;
    line-height: 2rem;
    color: var(--info-header-color);
}

section.purchase div.offer {
    background-image: url(images/fc_logo.png);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: 5px;
    padding-left: 50px;
    font-weight: 500;
}

section.purchase div.offer > span:last-child {
    font-size: .7rem;
    display: block;
    font-weight: normal;
}

section.purchase div.content {
    font-size: .75rem;
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.purchase div.content > div > div {
    display: flex;
    margin-top: 5px;
}

section.purchase div.content > div > div.hidden {
    display: none;
}

section.purchase label {
    flex: 0 0 130px;
}

section.purchase input,
section.purchase select {
    flex: 1 0;
}

section.purchase input[type=checkbox] {
    flex: 0 0;
}

section.purchase input[type=number] {
    flex: 0 0;
    width: 50px;
}