@tailwind base;
@tailwind components;
@tailwind utilities;

.notifications {
    @apply fixed top-0 right-0 w-72 m-2 z-40
}

.notifications > div {
    @apply rounded border-2 border-gray-300 bg-white mb-2 shadow-sm relative
}

.notifications .close {
    @apply absolute top-0 right-0 m-2 z-40 p-0 m-0 mr-2
}

.notifications .request {
    @apply p-2
}

.notifications .response.success {
    @apply text-green-500
}

.notifications .response.error {
    @apply text-red-500
}

.notifications .service div {
    @apply ml-2 text-sm my-2 pl-2
}

.notifications .service .info {
    @apply text-blue-500
}

.notifications .service .error {
    @apply text-red-500
}

.notifications .service .warning {
    @apply text-orange-500
}

.notifications .service .update {
    @apply text-green-500
}

@layer base {
    [type="text"],
    [type="email"],
    [type="url"],
    [type="password"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="week"],
    [multiple],
    textarea,
    select {
    @apply w-72 px-3 py-1 text-sm text-gray-600 border-gray-500 rounded-lg shadow-sm focus:border-indigo-500 focus:ring-indigo-500;
    }
    [type="number"] {
    @apply w-20 px-1 py-1 text-sm text-gray-600 rounded-lg shadow-sm focus:border-indigo-500 focus:ring-indigo-500 ;  
    }
    [type="checkbox"],
    [type="radio"] {
    @apply border-gray-500 rounded text-indigo-600 focus:ring-indigo-500;
    }
}
  