:root {
    --main-bg-color: rgb(229 231 235);
    --page-title-color: rgb(31 41 55);
    --base-text-color: rgb(77, 77, 77);
    --base-link-color: rgb(8 145 178);

    --button-primary-bg-color: rgb(2 132 199);
    --button-primary-text-color: white;

    --button-secondary-bg-color: rgb(161, 168, 172);
    --button-secondary-text-color: white;

    --nav-bg-color: rgb(51 65 85);
    --nav-text-color: white;
    --nav-text-active-color: rgb(251 146 60);
    --nav-text-hover-color: rgb(34 211 238);

    --info-bg-color: rgb(236, 241, 248);
    --info-header-color: rgb(75 85 99);

    --marketplace-bg-color: white;
}

html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    margin: 20px;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--base-text-color);
}

a {
    text-decoration: none;
    color: var(--base-link-color);
}

/* Page title */

body > header {
    padding: 0 20px;
}

body > header h1 {
    color: var(--page-title-color);
    font-weight: 700;
    margin: 0;
}

body > header sub {
    vertical-align: baseline;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: large;
}

/* Navigation */

nav {
    background-color: var(--nav-bg-color);
    border-radius: 0.375rem;
}

nav ul {
    list-style: none;
    padding: 0 0 0 20px;
    display: flex;
    align-content: center;
    height: 100%;
}

nav li {
    display: block;
    margin: 0;
    margin: 0 10px;
}

nav a {
    color: var(--nav-text-color);
    line-height: 2.5rem;
    text-decoration: none;
    cursor: pointer;
}

nav a.active {
    color: var(--nav-text-active-color);
    cursor: default;
}

nav a.active:hover { color: var(--nav-text-active-color); }

nav svg {
    position: relative;
    top: 5px;
}

nav path {
    fill: white;
}

nav svg:hover path {
    fill: var(--nav-text-hover-color);
}

nav a:hover {
    color: var(--nav-text-hover-color);
}

/* Root sections */

main {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media only screen and (max-width: 1024px) {
    main {
        flex-direction: column;
    }
}

main > section {
    box-shadow: 
        0 0 0 0 white, 
        0 0 0 1px rgb(17 24 39 / 0.05), 
        0 20px 25px -5px rgb(0 0 0 / 0.1), 
        0 8px 10px -6px rgb(0 0 0 / 0.1);

    border-radius: 0.75rem;
    padding: 20px;
}

main > section header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    color: var(--info-header-color);
}

/* Information content */

section.info {
    background-color: var(--info-bg-color);
    flex: 0 0;
    flex-basis: 400px;
}

@media only screen and (max-width: 1024px) {
    section.info {
        width: auto;
        flex: 1 0;
    }
}

section.info article {
    font-size: 14px;
}

section.info article p {
    padding: 0;
    margin: 0;
    padding-top: .5rem;
}

section.info article strong {
    font-weight: 600;
}

/* Marketplace content */

section.marketplace {
    background-color: var(--marketplace-bg-color);
    flex: 1 0;
}

section.marketplace > div {
    display: flex;
    margin-top: 20px;
}

section.offers {
    flex: 1 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

section.offers > div {
    flex: 0 0;
    flex-basis: 198px;
    display: flex;
    flex-direction: column;
    height: 324px;
    box-shadow: 
        0 1.6px 3.6px 0 rgba(0,0,0,.132),
        0 0.3px 0.9px 0 rgba(0,0,0,.108);

    border-radius: 0.1rem;
}

section.offers > div div {
    padding: 0 .5rem;
}

section.offers div.icon {
    flex: 0 0 50px;
    background-color: rebeccapurple;
    background: rgb(219 234 254);
    background: linear-gradient(90deg, 
        rgba(219 234 254 0.6) 0%,
        rgba(219 234 254 .8) 50%,
        rgba(219 234 254 1) 100%);
    background-image: url(images/fc_logo.png);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: 5px;
}

section.offers div.name {
    flex: 0 0;
    font-weight: 500;
}

section.offers div.publisher {
    flex: 1 0;
    font-size: .7rem;
}

section.offers div.starts-from {
    flex: 0 0;
    font-style: italic;
    font-size: .7rem;
}

section.offers div.price {
    flex: 0 0;
    font-size: .9rem;
}

section.offers div.get-it-now {
    flex: 0 0;
    padding: 0;
}

section.offers div.get-it-now a {
    line-height: 2.5rem;
    text-align: center;
    display: block;
    font-size: .8rem;
    text-decoration: none;
    border-top: 1px solid rgb(17 24 39 / 0.05);
}

section.purchase {
    flex: 0 0;
    flex-basis: 400px;
    background-color: var(--info-bg-color);
}

section.purchase > div {
    margin: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

section.purchase div.header {
    font-size: 1.3rem;
    line-height: 2rem;
    color: var(--info-header-color);
}

section.purchase div.offer {
    background-image: url(images/fc_logo.png);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: 5px;
    padding-left: 50px;
    font-weight: 500;
}

section.purchase div.offer > span {
    font-size: .7rem;
    display: block;
    font-weight: normal;
}

section.purchase div.content {
    font-size: .75rem;
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.purchase div.content > div > div {
    display: flex;
    margin-top: 5px;
}

section.purchase label {
    flex: 0 0 100px;
}

section.purchase input,
section.purchase select {
    flex: 1 0;
}

/* Utility classes */

button {
    line-height: 2rem;
    padding: 0 1rem;
    border: 1px solid rgb(100 116 139);
    font-size: .875rem;
    text-transform: none;
    cursor: pointer;
}

button.primary {
    background-color: var(--button-primary-bg-color);
    color: var(--button-primary-text-color);
}

button.secondary {
    background-color: var(--button-secondary-bg-color);
    color: var(--button-secondary-text-color);
}

.right {
    display: flex;
    flex-direction: row-reverse;
}

.justify {
    display: flex;
    justify-content: space-between;
}